Repository Likelion-YeungNam-Univ/12th-holing-was, pull requests merged in 2024-07, with the labels that each got.

#4 feat: User Entity 생성
  src/main/java/com/example/atm/bounded_context/user/entity/Gender.java
  src/main/java/com/example/atm/bounded_context/user/entity/User.java
Labels: user

#5 feat: schedule entity 생성
  src/main/java/com/example/atm/bounded_context/schedule/entity/Schedule.java
Labels: schedule

#9 소셜 로그인 구현
  build.gradle
  src/main/java/com/example/atm/bounded_context/auth/config/KakaoProperties.java
  src/main/java/com/example/atm/bounded_context/auth/controller/AuthController.java
  src/main/java/com/example/atm/bounded_context/auth/dto/TokenInfoDto.java
  src/main/java/com/example/atm/bounded_context/auth/dto/UserInfoDto.java
  src/main/java/com/example/atm/bounded_context/auth/service/KakaoOAuthService.java
  src/main/java/com/example/atm/bounded_context/auth/service/OAuthService.java
Labels: auth

#13 소셜 로그인 API 구현
  build.gradle
  src/main/java/com/example/atm/base/jwt/JwtProperties.java
  src/main/java/com/example/atm/base/jwt/JwtProvider.java
  src/main/java/com/example/atm/bounded_context/auth/controller/AuthController.java
  src/main/java/com/example/atm/bounded_context/auth/dto/OAuthTokenInfoDto.java
  src/main/java/com/example/atm/bounded_context/auth/dto/OAuthUserInfoDto.java
  src/main/java/com/example/atm/bounded_context/auth/dto/TokenInfoDto.java
  src/main/java/com/example/atm/bounded_context/auth/dto/UserInfoDto.java
  src/main/java/com/example/atm/bounded_context/auth/service/KakaoOAuthService.java
  src/main/java/com/example/atm/bounded_context/auth/service/OAuthService.java
  src/main/java/com/example/atm/bounded_context/user/dto/UserInfoDto.java
  src/main/java/com/example/atm/bounded_context/user/entity/User.java
  src/main/java/com/example/atm/bounded_context/user/repository/UserRepository.java
  src/main/java/com/example/atm/bounded_context/user/service/UserService.java
Labels: auth

#14 Schedule 관련 API 구현
  src/main/java/com/example/atm/bounded_context/schedule/controller/ScheduleController.java
  src/main/java/com/example/atm/bounded_context/schedule/dto/ScheduleRequestDto.java
  src/main/java/com/example/atm/bounded_context/schedule/dto/ScheduleResponseDto.java
  src/main/java/com/example/atm/bounded_context/schedule/entity/Schedule.java
  src/main/java/com/example/atm/bounded_context/schedule/repository/ScheduleRepository.java
  src/main/java/com/example/atm/bounded_context/schedule/service/ScheduleService.java
Labels: schedule

#20 회원 탈퇴 API 구현
  src/main/java/com/example/atm/bounded_context/auth/controller/AuthController.java
  src/main/java/com/example/atm/bounded_context/auth/service/KakaoOAuthService.java
  src/main/java/com/example/atm/bounded_context/auth/service/OAuthService.java
  src/main/java/com/example/atm/bounded_context/user/service/UserService.java
Labels: auth

#25 Custom 예외 처리 구현
  src/main/java/com/example/atm/base/exception/ExceptionCode.java
  src/main/java/com/example/atm/base/exception/ExceptionResponse.java
  src/main/java/com/example/atm/base/exception/GlobalException.java
  src/main/java/com/example/atm/base/exception/GlobalExceptionHandler.java
Labels: exception

#40 Mission 생성 및 교체 API 구현
  src/main/java/com/example/holing/base/BaseTimeEntity.java
  src/main/java/com/example/holing/bounded_context/mission/dto/MissionResponseDto.java
  src/main/java/com/example/holing/bounded_context/mission/entity/Mission.java
  src/main/java/com/example/holing/bounded_context/mission/repository/MissionRepository.java
  src/main/java/com/example/holing/bounded_context/mission/service/MissionService.java
  src/main/java/com/example/holing/bounded_context/missionresult/controller/MissionResultController.java
  src/main/java/com/example/holing/bounded_context/missionresult/dto/MissionResultResponseDto.java
  src/main/java/com/example/holing/bounded_context/missionresult/entity/MissionResult.java
  src/main/java/com/example/holing/bounded_context/missionresult/repository/MissionResultRepository.java
  src/main/java/com/example/holing/bounded_context/missionresult/service/MissionResultService.java
  src/main/java/com/example/holing/bounded_context/user/entity/User.java
Labels: mission

#43 api 테스트를 위한 security cors 관련 허용
  src/main/java/com/example/holing/base/config/SecurityConfig.java
Labels: security

#44 증상 테스트 API 구현
  src/main/java/com/example/holing/bounded_context/survey/controller/SurveyController.java
  src/main/java/com/example/holing/bounded_context/survey/dto/SymptomQuestionResponseDto.java
  src/main/java/com/example/holing/bounded_context/survey/entity/SelfQuestion.java
  src/main/java/com/example/holing/bounded_context/survey/entity/Solution.java
  src/main/java/com/example/holing/bounded_context/survey/entity/SymptomQuestion.java
  src/main/java/com/example/holing/bounded_context/survey/entity/Tag.java
  src/main/java/com/example/holing/bounded_context/survey/entity/Type.java
  src/main/java/com/example/holing/bounded_context/survey/repository/SelfQuestionRepository.java
  src/main/java/com/example/holing/bounded_context/survey/repository/SymptomQuestionRepository.java
  src/main/java/com/example/holing/bounded_context/survey/repository/TagRepository.java
  src/main/java/com/example/holing/bounded_context/survey/service/SurveyService.java
Labels: survey

#55 월별 일정 개수 조회 API 추가
  src/main/java/com/example/holing/bounded_context/schedule/api/ScheduleApi.java
  src/main/java/com/example/holing/bounded_context/schedule/controller/ScheduleController.java
  src/main/java/com/example/holing/bounded_context/schedule/dto/ScheduleCountDto.java
  src/main/java/com/example/holing/bounded_context/schedule/dto/ScheduleRequestDto.java
  src/main/java/com/example/holing/bounded_context/schedule/dto/ScheduleResponseDto.java
  src/main/java/com/example/holing/bounded_context/schedule/entity/Schedule.java
  src/main/java/com/example/holing/bounded_context/schedule/exception/ScheduleExceptionCode.java
  src/main/java/com/example/holing/bounded_context/schedule/service/ScheduleService.java
Labels: schedule

#56 Report 조회 및 생성 API 구현
  build.gradle
  src/main/java/com/example/holing/bounded_context/report/api/ReportApi.java
  src/main/java/com/example/holing/bounded_context/report/controller/ReportController.java
  src/main/java/com/example/holing/bounded_context/report/dto/ReportDetailDto.java
  src/main/java/com/example/holing/bounded_context/report/dto/ReportDetailResponseDto.java
  src/main/java/com/example/holing/bounded_context/report/dto/ReportRequestDto.java
  src/main/java/com/example/holing/bounded_context/report/dto/ReportScoreDto.java
  src/main/java/com/example/holing/bounded_context/report/dto/ReportScoreResponseDto.java
  src/main/java/com/example/holing/bounded_context/report/dto/ReportSummaryResponseDto.java
  src/main/java/com/example/holing/bounded_context/report/dto/SolutionDto.java
  src/main/java/com/example/holing/bounded_context/report/entity/Report.java
  src/main/java/com/example/holing/bounded_context/report/entity/UserReport.java
  src/main/java/com/example/holing/bounded_context/report/repository/ReportRepository.java
  src/main/java/com/example/holing/bounded_context/report/repository/UserReportRepository.java
  src/main/java/com/example/holing/bounded_context/report/service/ReportService.java
  src/main/java/com/example/holing/bounded_context/report/service/UserReportService.java
  src/main/java/com/example/holing/bounded_context/survey/entity/Solution.java
Labels: report

#69 미션 관련 코드 리팩토링 및 API 추가
  src/main/java/com/example/holing/bounded_context/mission/api/MissionApi.java
  src/main/java/com/example/holing/bounded_context/mission/controller/MissionResultController.java
  src/main/java/com/example/holing/bounded_context/mission/dto/MissionCountDto.java
  src/main/java/com/example/holing/bounded_context/mission/dto/MissionInfoDto.java
  src/main/java/com/example/holing/bounded_context/mission/dto/MissionResponseDto.java
  src/main/java/com/example/holing/bounded_context/mission/dto/MissionResultResponseDto.java
  src/main/java/com/example/holing/bounded_context/mission/entity/Mission.java
  src/main/java/com/example/holing/bounded_context/mission/entity/MissionResult.java
  src/main/java/com/example/holing/bounded_context/mission/exception/MissionExceptionCode.java
  src/main/java/com/example/holing/bounded_context/mission/repository/MissionRepository.java
  src/main/java/com/example/holing/bounded_context/mission/repository/MissionResultRepository.java
  src/main/java/com/example/holing/bounded_context/mission/service/MissionResultService.java
  src/main/java/com/example/holing/bounded_context/mission/service/MissionService.java
  src/main/java/com/example/holing/bounded_context/missionresult/controller/MissionResultController.java
  src/main/java/com/example/holing/bounded_context/missionresult/repository/MissionResultRepository.java
  src/main/java/com/example/holing/bounded_context/missionresult/service/MissionResultService.java
  src/main/java/com/example/holing/bounded_context/survey/entity/Tag.java
  src/main/java/com/example/holing/bounded_context/user/entity/User.java
Labels: mission

#71 영양제 생성, 조회 및 수정 API 구현
  src/main/java/com/example/holing/bounded_context/medicine/api/MedicineApi.java
  src/main/java/com/example/holing/bounded_context/medicine/controller/MedicineController.java
  src/main/java/com/example/holing/bounded_context/medicine/dto/MedicineRequestDto.java
  src/main/java/com/example/holing/bounded_context/medicine/dto/MedicineResponseDto.java
  src/main/java/com/example/holing/bounded_context/medicine/entity/Medicine.java
  src/main/java/com/example/holing/bounded_context/medicine/entity/MedicineHistory.java
  src/main/java/com/example/holing/bounded_context/medicine/repository/MedicineHistoryRepository.java
  src/main/java/com/example/holing/bounded_context/medicine/repository/MedicineRepository.java
  src/main/java/com/example/holing/bounded_context/medicine/serivce/MedicineHistoryService.java
  src/main/java/com/example/holing/bounded_context/medicine/serivce/MedicineService.java
Labels: medicine

#72 사용자 정보 및 리포트 조회 API 구현
  src/main/java/com/example/holing/bounded_context/report/dto/ReportDto.java
  src/main/java/com/example/holing/bounded_context/report/service/UserReportService.java
  src/main/java/com/example/holing/bounded_context/user/api/UserApi.java
  src/main/java/com/example/holing/bounded_context/user/controller/UserController.java
  src/main/java/com/example/holing/bounded_context/user/dto/UserResponseDto.java
  src/main/java/com/example/holing/bounded_context/user/entity/User.java
Labels: user

#74 Self Question Entity 필드 수정
  src/main/java/com/example/holing/bounded_context/survey/entity/SelfQuestion.java
Labels: survey

#77 미션 조회 API 반환값 수정 및 미션 교체 API 로직 업데이트
  src/main/java/com/example/holing/bounded_context/mission/api/MissionApi.java
  src/main/java/com/example/holing/bounded_context/mission/controller/MissionResultController.java
  src/main/java/com/example/holing/bounded_context/mission/dto/MateCheckDto.java
  src/main/java/com/example/holing/bounded_context/mission/dto/MissionInfoDto.java
  src/main/java/com/example/holing/bounded_context/mission/dto/MissionResultResponseDto.java
  src/main/java/com/example/holing/bounded_context/mission/service/MissionResultService.java
  src/main/java/com/example/holing/bounded_context/user/entity/User.java
Labels: mission

#80 report 생성 필드 및 로직 수정
  src/main/java/com/example/holing/bounded_context/report/api/ReportApi.java
  src/main/java/com/example/holing/bounded_context/report/controller/ReportController.java
  src/main/java/com/example/holing/bounded_context/report/service/ReportService.java
Labels: report
